<nav> 
    <div class="nav-wrapper" style="background-color:black;">
      <div class="brand-logo">&nbsp;Video Portal</div>
      <ul class="right hide-on-med-and-down" style="cursor: pointer;" (click)="signOut()">
        <li><i class="material-icons">power_settings_new</i></li>		
      </ul>
    </div>
</nav>
<div  *ngIf="video" class="container" id="videoDetail" style="margin-top: 35px;">
	<div class="card blue-grey darken-1 hoverable" >
		<div class="card-content white-text">
			<span class="card-title" style="cursor:pointer" (click)="goBack()">
				{{video.name}}
			</span>
			<video id="{{video._id+'Detail'}}" class="responsive-video" [src] = "video.url" controls controls="" name="media"></video>
		</div>
		<div class="card-action">
			<div class="rating">
				<span (click)="rateVideo(video._id, 5)" [style.color]="getRatingColor(video, 5)">☆</span>
				<span (click)="rateVideo(video._id, 4)" [style.color]="getRatingColor(video, 4)">☆</span>
				<span (click)="rateVideo(video._id, 3)" [style.color]="getRatingColor(video, 3)">☆</span>
				<span (click)="rateVideo(video._id, 2)" [style.color]="getRatingColor(video, 2)">☆</span>
				<span (click)="rateVideo(video._id, 1)" [style.color]="getRatingColor(video, 1)">☆</span>
			</div>
			<p>{{video.description}}</p>
		</div>
	 </div>
</div>